@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* COMMON */
body {
  background-color: #f0f0f0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.section-center {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  padding: 32px;
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
}
.section-center .todo-form {
}
.section-center .todo-form .todo-alert {
  margin-bottom: 16px;
  height: 20px;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 11.2px;
  border-radius: 4px;
  letter-spacing: 4px;
  text-transform: capitalize;
  font-weight: 900;
}
.todoalert-success {
  color: darkgreen;
  background-color: aquamarine;
}
.todoalert-danger {
  color: #721c24;
  background: #f8d7da;
}
.section-center .todo-form h3 {
  color: rgb(6, 50, 81);
  margin-bottom: 24px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: capitalize;
}
.section-center .todo-form .todoform-control {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.section-center .todo-form .todoform-control input {
  padding: 4px;
  font-size: 16px;
  padding-left: 16px;
  background-color: #f0f0f0;
  border-color: transparent;
  border-radius: 6px 0 0 6px;
  color: rgb(97, 125, 152);
  width: 530px;
}
.section-center .todo-form .todoform-control select {
  width: 90px;
  border-radius: 0;
}
.section-center .todo-form .todoform-control button {
  border-color: transparent;
  border-radius: 0 6px 6px 0;
  padding: 4px;
  text-transform: capitalize;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s linear;
  font-size: 13.6px;
  width: 90px;
}
.section-center .todo-form .todoform-control button:hover {
  color: #fff;
}
.section-center .todocontainer {
  margin-top: 32px;
  transition: all 0.3s linear;
  visibility: hidden;
}
.section-center .todocontainer.show {
  visibility: visible;
}
.section-center .todocontainer .list {
}
.section-center .todocontainer .list .item {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  margin-bottom: 10px;
  transition: all 0.3s linear;
  padding: 4px 8px 8px 8px;
  border-bottom: 3px solid #f0f0f0;
  text-transform: capitalize;
  cursor: move;
}
.section-center .todocontainer .list .item:hover {
}
.section-center .todocontainer .list .item .form-check .form-check-input {
  margin-right: 14px;
  cursor: pointer;
}
.section-center .todocontainer .list .item .title {
  margin-bottom: 0;
  letter-spacing: 2px;
  transition: all 0.3s linear;
  font-weight: 500;
  cursor: move;
}
.section-center .todocontainer .list .item .update {
  font-size: 12px;
  margin-top: 3px;
  color: dimgrey;
  margin-right: 8px;
}
.section-center .todocontainer .list .item .btn-container {
  display: flex;
  gap: 10px;
}
.section-center .todocontainer .list .item .btn-container button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 11.2px;
  transition: all 0.3s linear;
}
.section-center .todocontainer .list .item .btn-container .edit-btn {
  font-size: 14px;
}
.section-center .todocontainer .list .item .btn-container .delete-btn {
  font-size: 14px;
}
.todocontainer .clear-btn {
  text-transform: capitalize;
  width: 200px;
  height: 24px;
  background-color: transparent;
  border-color: transparent;
  margin: 0 auto;
  display: grid;
  font-size: 15px;
  letter-spacing: 4px;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-top: 20px;
}
.spinner-border {
  z-index: 100;
  position: fixed;
  visibility: hidden;
}
.spinner-border.show {
  visibility: visible;
}
